/* Pretendard 폰트 CDN */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 배너 */
.event-container {
  width: 100%;
  margin: 0 auto;
}

.event-banner {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 130px 0;
  background: #e9f4ff url("https://sgate.ispark.kr/html/_skin/img/sub/evt-80/evt-80-banner01.png") no-repeat
    center/cover;

  @media (max-width: 768px) {
    padding: 51px 0;
    padding-bottom: 58px;
    background: #ebf6ff;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.event-content {
  flex: 1;
  .mo-only.mt-4 {
    @media (max-width: 768px) {
      margin-top: 20px;
      display: block;
      img {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    @media (max-width: 480px) {
      img {
        max-width: 100%;
      }
    }
  }
}

.event-year {
  color: #000;
  font-family: Pretendard;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.56px;

  @media (max-width: 768px) {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
  }
}

.event-title {
  color: #2e2f31;
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -1.56px;

  @media (max-width: 768px) {
    margin-top: 10px;
    color: #2e2f31;
    text-align: center;
    font-family: Pretendard;
    font-size: 30px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: -0.6px;
  }
}

.event-period {
  margin-top: 5px;
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;

  @media (max-width: 768px) {
    margin-top: 20px;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }

  span {
    color: #ff4d00;
    @media (max-width: 768px) {
      color: #ff4d00;
      font-family: Pretendard;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
    }
  }
}

.com-button:hover {
  background-color: #0069c7;
}

.event-image {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reward-image {
  width: 608px;
  height: auto;
}

/* 비용 지원 */
.cost-support-wrap {
  padding: 100px 0;
  text-align: center;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  img {
    margin-top: 44px;
  }
}

/* 서비스 소개 */
.service-intro-wrap {
  padding: 100px 0;
  background: #141414;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  .inner {
    text-align: center;

    .com-button {
      margin-top: 60px;

      @media (max-width: 768px) {
        margin-top: 40px;
      }
    }
  }

  img {
    margin-top: 60px;
    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }
}

/* 모집 안내 */
.recruitment-info {
  padding: 100px 0;
  text-align: center;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  .inner {
    max-width: 980px;
  }

  .info-content {
    margin-top: 60px;

    @media (max-width: 768px) {
      margin-top: 40px;
      text-align: left;
    }

    h3 {
      color: #0af;
      text-align: center;
      font-family: Pretendard;
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.6px;

      @media (max-width: 768px) {
        color: #0af;
        font-family: Pretendard;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 136.364% */
        letter-spacing: -0.44px;
        text-align: left;
      }
    }

    .info-table,
    .application-process {
      img {
        margin-top: 30px;

        @media (max-width: 768px) {
          margin-top: 20px;
        }
      }
    }
    .info-table {
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
    }

    .info-table img {
      margin-top: 20px;
    }

    .info-content-wrap {
      margin-top: 60px;
      text-align: left;

      > div {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }

        .logo-container {
          @media (max-width: 768px) {
            img {
              width: 143px;
            }
          }
        }

        dl {
          display: flex;
          align-items: flex-start;

          @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
          }

          dt {
            min-width: 240px;
            color: #0af;
            text-align: center;
            font-family: Pretendard;
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.6px;

            @media (max-width: 768px) {
              min-width: 100%;
              text-align: left;
              color: #0af;
              font-family: Pretendard;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: 30px; /* 136.364% */
              letter-spacing: -0.44px;
            }
          }

          dd {
            color: #2e2f31;
            font-family: Pretendard;
            font-size: 22px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.44px;
            text-align: left;

            @media (max-width: 768px) {
              margin-top: 8px;
              color: #2e2f31;
              font-family: Pretendard;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 26px; /* 144.444% */
              letter-spacing: -0.36px;
            }

            span {
              font-weight: 500;

              @media (max-width: 768px) {
                color: #2e2f31;
                font-family: Pretendard;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: -0.36px;
              }
            }
          }
        }
      }
    }
  }
}

.custom.sub-cont-section.aligncenter.section-07.team-sgate-bottom-wrap {
  padding-top: 80px !important;
  @media (max-width: 768px) {
    padding-top: 50px !important;
  }
  .custom-title {
    margin-top: -10px;
    color: #0af;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    @media (max-width: 768px) {
      color: #0af;
      text-align: center;
      font-family: Pretendard;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.52px;
    }
    span {
      color: #3c3c3c;
      font-family: Pretendard;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.8px;
      @media (max-width: 768px) {
        color: #3c3c3c;
        font-family: Pretendard;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.52px;
      }
    }
  }
}

/* 공통 */

.com-title {
  color: #2e2f31;
  text-align: center;
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -0.8px;

  @media (max-width: 768px) {
    color: #2e2f31;
    text-align: center;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 130.769% */
    letter-spacing: -0.52px;
  }

  span {
    color: #0af;

    @media (max-width: 768px) {
      color: #0af;
      font-family: Pretendard;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: -0.52px;
    }
  }

  &.type-2 {
    color: #fff;

    @media (max-width: 768px) {
      color: #fff;
      text-align: center;
      font-family: Pretendard;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px; /* 130.769% */
      letter-spacing: -0.52px;
    }
  }
}

.com-sub-title {
  margin-top: 8px;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.6px;

  @media (max-width: 768px) {
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 136.364% */
    letter-spacing: -0.44px;
  }
}

.pc-only {
  display: inline-block;
  @media (max-width: 768px) {
    display: none;
  }
}
.mo-only {
  display: none;
  @media (max-width: 768px) {
    display: inline-block;
  }
}

.com-button {
  margin-top: 39px;
  display: inline-block;
  padding: 16px 60px;
  border-radius: 10px;
  background: #0af;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans CJK KR";
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s;

  @media (max-width: 768px) {
    margin-top: 20px;
    display: flex;
    width: 100%;
    max-width: 248px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-align: center;
    font-family: "Noto Sans CJK KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &:hover {
    background-color: #0085c7;
  }
}
