/* Error: Undefined mixin.
 *    ,
 * 9  | /   @include mobile-only {
 * 10 | |     padding: 20px 0;
 * 11 | \   }
 *    '
 *   public\sgate\02\cnt.scss 9:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 9  \2502  \250c    @include mobile-only {\a 10 \2502  \2502      padding: 20px 0;\a 11 \2502  \2514    }\a    \2575 \a   public\\sgate\\02\\cnt.scss 9:3  root stylesheet";
}
